body {
    margin: 0;
    padding: 0;
}

footer {
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 50px;
    font-family: HelveticaLight;
    height: 100vh;
    flex-direction: column;
}

.logo {
    display: flex;
}

.logo > img {
    height: 20vh;
}

section.playlist {
    display: flex;
    flex-direction: row;
}

section.playlist .playlist-right-side {
    width: 50vw;
    position: fixed;
    right: 0;
    top: 10vh;
}

section.playlist .playlist-right-side img {
    width: 100%;
}
